<div>
  <div class="upper">
    <fieldset>
      <legend><h3>new task</h3></legend>
      <form (submit)="onSubmitCreateTask()" method="post">
        <p>title: <input type="text" name="newTask.title" [(ngModel)]="newTask.title"></p>
        <p>description: <input type="text" name="newTask.description" [(ngModel)]="newTask.description"></p>
        <p><input type="submit" value="add"></p>
      </form>
    </fieldset>
  </div>
  <div class="lower">
    <fieldset>
      <legend><h3>task list</h3></legend>
      <div class="list">
        <ul>
          <li *ngFor="let t of allTasks">
            {{t._id }} - {{ t.title }} - {{ t.description }}
            <button (click)="onClickUpdateTask(t._id)">edit</button>
            <button (click)="onClickDeleteTask(t._id)">delete</button>
          </li>
        </ul>
      </div>
    </fieldset>
    <fieldset class="edit" *ngIf="taskToUpdate.title != undefined && taskToUpdate.description != undefined">
      <legend><h3>edit task</h3></legend>
      <form (submit)="onSubmitUpdateTask(taskToUpdate._id)" method="put">
        <p>title: <input type="text" name="taskToUpdate.title" [(ngModel)]="taskToUpdate.title" [placeholder]="taskToUpdate.title"></p>
        <p>description: <input type="text" name="taskToUpdate.description" [(ngModel)]="taskToUpdate.description" [placeholder]="taskToUpdate.description"></p>
        <p><input type="submit" value="edit"></p>
      </form>
    </fieldset>
  </div>
</div>