<h1>display form for submitting new mongoose</h1>
<form action="/mongooses" method="post">
    <p>name: <input type="text" name="name"></p>
    <p>age: <input type="text" name="age"></p>
    <p>weight: <input type="text" name="weight"></p>
    <input type="submit" value="submit">
</form>