<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> -->
        <link rel="stylesheet" type="text/css" href="../static/style.css">        
        <title>amadon</title>
    </head>
    <body>
        <div class='container'>
            <div class='header'>
                <h1>amadon store</h1>
                <h5>item</h5>
                <h5>price</h5>
                <h5>actions</h5>
            </div>
            <div class='item'>
                <p>t-shirt</p>
                <p>mug</p>
            </div>
            <div class='price'>
                <p>$19.99</p>
                <p>$4.99</p>
            </div>
            <div class='actions'>
                <form action='process' method='post'>
                    {% csrf_token %}
                    <input type='hidden' name='product_id' value='1'>
                    <select name='quantity'>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                    </select>
                    <input type='submit' value='add to cart'>
                </form>
                <form action='process' method='post'>
                    {% csrf_token %}
                    <input type='hidden' name='product_id' value='2'>
                    <select name='quantity'>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                    </select>
                    <input type='submit' value='add to cart'>
                </form>
            </div>
        </div>
    </body>
</html>