<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>session words</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <h1>add new word:</h1>
        <form action='add_word' method='post'>
            {% csrf_token %}
            <input type='text' name='word'><br><br>
            <input type='radio' id='red' name='color' value='red'>
            <label for='red'>red</label><br>
            <input type='radio' id='green' name='color' value='green'>
            <label for='green'>green</label><br>
            <input type='radio' id='blue' name='color' value='blue'>
            <label for='blue'>blue</label><br><br>
            <input type='checkbox' id='bigfont' name='bigfont' value='bigfont'>
            <label for='bigfont'>show in big font</label><br><br>
            <input type='submit' name='add' value='add'>
        </form>
        <form action='reset' method='post'>
            {% csrf_token %}
            <input type='submit' name='clear' value='clear'>
        </form>
        {% if request.session.sesh_words %}
            {% for dct in request.session.sesh_words %}
                <p class="{{ dct.color }} {{ dct.bigfont }}">{{ dct.word }}</p>
            {% endfor %}
        {% endif %}
    </body>
</html>