<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>survey results</title>
    </head>
    <body>
        <h1>results</h1>
        <p>your name is: <%= data.name %></p>
        <p>your location is: <%= data.location %></p>
        <p>your favorite language is: <%= data.language %></p>
        <p>your comment: <%= data.comment %></p>
    </body>
</html>