<html>
<body>
    <h2>all users:</h2>
    <% for (var x in users) { %>
        <h3>Name: <%= users[x].name %></h3>
        <h4>Email: <%= users[x].email %></h4>
        <hr>
    <% } %>
    <h2>new user</h2>
    <form action='/users' method='post'>
        name: <input type='text' name='name'>
        email: <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
</body>
</html>