<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user {{ user.id }} profile</title>
</head>
<body>
    <p><a href='/users/edit'>edit my profile</a></p>
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <h5>registered on: {{ user.created_at }}</h5>
    <h5>user id: {{ user.id }}</h5>
    <h5>email address: {{ user.email }}</h5>
    <h5>bio: {{ user.bio }}</h5>
    <h3>leave a message</h3>
    <form action='/post_message/{{ user.id }}' method='post'>
        {% csrf_token %}
        <input type='text' name='message'>
        <input type='submit' value='post message'>
    </form>
    {% for m in user.received_messages.all %}
        <p>{{ m.content }} {{ m.id }}</p>
        <p>{{ m.user.first_name }} {{ m.user.last_name }}</p>
        <form action='/post_comment/{{ user.id }}/{{ m.id }}' method='post'>
            {% csrf_token %}
            <input type='text' name='comment'>
            <input type='submit' value='post comment'>
        </form>
        {% for c in m.comments_on.all %}
            <p>{{ c.content }}</p>
            <p>{{ c.commenter.first_name }} {{ c.commenter.last_name }}</p>
        {% endfor %}
    {% endfor %}
</body>
</html>