<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>quoting dojo</h1>
    <fieldset>
        <legend>new quote</legend>
        <form action="/quotes" method="post" name="quote_form">
            <p>your name: <input type="text" name="name"></p>
            <p>your quote: <input type="text" name="quote"></textarea></p>
            <input type="submit" value="submit">
        </form>
    </fieldset>
    <a href="/quotes">view quotes</a>
</body>
</html>